@import "../../fonts.scss";
@import "colors.scss";

.sidebar {
  width: 200px;
  background-color: $dark-background;

  .sidebar-head {
    font-family: "Gugi", cursive;
    color: $white !important;
  }

  .menu-list {
    p,
    a {
      color: $white !important;

      &:hover {
        background-color: $hover-background !important;
      }
    }

    ul li {
      padding: 10px;
    }
  }
}
